body{
	background-color: #f1f1f1; 
	color: #001514;
}

nav{
	background-color: #121821; 
	border-radius: 0 0 12px 12px; 
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2)
}

#divPrimeiraParte{
	margin-top: 72px;
}

#divFrase{
	height: 520px;
}

#h3Frase{
	margin-left: 80px; 
	padding: 20px;
}

#pFrase{
	margin-left: 100px; 
	padding-left: 10px;
}

#divCar{
	float: right; 
	height: 520px;
}

#imgPrimeiroC{
	width: 90%; 
	height: 400px;
	border-radius: 3px;
}

#divSegundaParte{
	width: 100%; 
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
@font-face{
	font-family: Azonix;
	src: url(fonts/Azonix.otf)
}
@font-face{
	font-family: Avenir;
	src: url(fonts/AvenirNextLTPro-Regular.otf)
}
@font-face{
	font-family: Zilap;
	src: url(fonts/Zilap.ttf)
}
@font-face{
	font-family: Hemicube;
	src: url(fonts/HemicubeTypePersonalUseOnly-51j7V.ttf)
}
@font-face{
	font-family: Square;
	src: url(fonts/Cafe24Ohsquare.ttf)
}
@font-face{
	font-family: Square-Light;
	src: url(fonts/Cafe24Ohsquareairlight.ttf)
}
#divProjetos03{
	background-color: #f4f4f4;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	border-color: #d64d3e;
	border-width: 2px;
}

.meubtn{
	color: white;
	background-color: #3333aa;
	border-radius: 5px;
	padding: 5px;
}
#imgSecondC{
	width: 237px;
	height: 168px;
}
#labelTerceiroC{
	color: black;
}
#imagemEquipe{
	border-radius: 50%;
	width: 35%;
	margin-bottom: 30px;
}
h1,h2,h3,h4,h5,h6{
	font-family: Square-Light;
}
p{
	font-family: Avenir;
}
.fonte-branca{
	color: #EFEFEF;
}
.fonte-1{
	color: #5487a8;
}
.fonte-5{
	color: #8d5c9d;
}
.pt-6{
	padding-top: 6rem;
}
.bg-1{
	background-color: #5487a8;
}
.bg-2{
	background-color: #3333aa;
}
.bg-3{
	background-color: #D3BE36;
}
.bg-4{
	background-color: #d64d3e;
}
.bg-5{
	background-color: #8d5c9d;
}
.bg-b{
	background-color: #EFEFEF;
}
.borda-1{
	border-style: solid;
	border-width:3px;
	border-color: #5487a8;
}
.borda-2{
	border-style: solid;
	border-width:3px;
	border-color: #3333aa;
}
.borda-3{
	border-style: solid;
	border-width:3px;
	border-color: #D3BE36;
}
.borda-4{
	border-style: solid;
	border-width:3px;
	border-color: #d64d3e;
}
.borda-5{
	border-style: solid;
	border-width:3px;
	border-color: #8d5c9d;
}

.centralizar{
	margin: auto; 
	text-align: center;
}

#pSegundaParte{
	text-align: justify; 
	width: 50%; 
	margin-left: 15%;
}

.h4Projetos{
	border-radius: 0 10px 0 10px;
	text-align: center;
}

#badge{
	float: right; 
	margin-right: 16%; 
	margin-top: 25px;
}

#h2Noticias{
	margin-left: 15%; 
	width: 70%; 
	height: 50px;
	border-radius: 3px;
}

#imgTerceiroC{
	width: 85%;
	border-radius: 3px;
}

#rodape{
	width: 100%;
	margin-top: 50px;
	background-color: #121821; 
	color: #999CA0;
	font-size: 9pt;
}

#imgRodape{
	width: 24px;
	padding-top: 12px;
	padding-bottom: 10px;
	margin-right: 11px;
	margin-left: 11px;
}
label{
	text-align: center;	
}